extends includes/_template.jade

block content
  .general-wrapper

    //- Main Frame
    section.frame.main-frame#home

      //- Main Header
      header.main-header

        div.toggle-menu
          h3.title Menu
          span.togglebutton

        div.header-content
          span.togglebutton

          h1.title Apollo

          nav.main-navigation
            h2.title Main Navigation

            ul.menu-list
              li.menu: a.link(href="#home") Home
              li.menu: a.link(href="#about") About
              li.menu: a.link(href="#largeslideshow") Large Slideshow
              li.menu: a.link(href="#photos") Photos
              li.menu: a.link(href="#smallslideshow") Small Slideshow
              li.menu: a.link(href="#contact") Contact

          footer.main-footer
            p.texts Texts by
              a.link(href="http://ngm.nationalgeographic.com/2013/10/power-of-photography/draper-text")  Robert Draper.
            p.copy &copy; 2016 Apollo.

      .content-wrapper
        div.text-box
          h2.title Apollo
            span.lighttext  Photographer UI Design
          p.description
            | Photographers use their cameras as tools of exploration, passports
            | to inner sanctums, instruments for change. Their images are proof
            | that photography matters—now more than ever.
        img.photo(src="assets/images/photo-back.png" alt="John Apollo Picture")


    //- About Frame
    section.frame.about-frame#about
      .content-wrapper
        img.photo(src="assets/images/photo-camera.png" alt="Camera Picture")
        div.text-box
          h2.title <span class="lighttext">&#8212; My name is</span> Apollo
          p.description
            | By wresting a precious particle of the world from time and space
            | and holding it absolutely still, a great photograph can explode
            | the totality of our world, such that we never see it quite the
            | same again.
          ul.social-list
            li.social.facebook: a.link(href="#") Facebook
            li.social.instagram: a.link(href="#") Instagram
            li.social.twitter: a.link(href="#") Twitter
            li.social.pinterest: a.link(href="#") Pinterest


    //- Large Slideshow Frame
    section.frame.largeslideshow-frame#largeslideshow
      .content-wrapper
        div(id="large-slideshow" class="carousel slide" data-ride="carousel")
          img.letterbg(src="assets/images/letter-o-light.png")

          div(class="carousel-inner" role="listbox")
            div(class="item active")
              img(src="assets/images/photo-girl-camera.jpg",
                  alt="Picture of Photographer")

            div(class="item")
              img(src="assets/images/photo-pyramid.jpg",
                  alt="Picture of Pyramids")

            div(class="item")
              img(src="assets/images/photo-city.jpg",
                  alt="Picture of a City")

          a(class="left carousel-control", href="#large-slideshow",
            role="button" data-slide="prev"): span.back
          a(class="right carousel-control", href="#large-slideshow",
            role="button" data-slide="next"): span.next



    //- Photography Frame
    section.frame.photography-frame#photos
      .content-wrapper
        div.text-box
          h2.title Ut enim
            span.lighttext  ad minim
          p.description
            | Of course, every professional photographer hopes for The Epic
            | Shot, the once-in-a-lifetime collision of opportunity and skill
            | that gains a photograph instant entry into the pantheon alongside
            | Joe Rosenthal’s Iwo Jima, Bob Jackson’s encounter with Jack Ruby
            | gunning down Lee Harvey Oswald, and the Apollo 8 astronauts’
            | color depictions of planet Earth in its beaming entirety.
        img.photo(src="assets/images/photo-stairs.jpg" alt="Stairs Photo")


    //- Small Slideshow Frame
    section.frame.smallslideshow-frame#smallslideshow
      .content-wrapper
        div(id="small-slideshow" class="carousel slide" data-ride="carousel")
          ol(class="carousel-indicators")

          div(class="carousel-inner" role="listbox")
            div(class="item")
              img(src="assets/images/photo-city-bridge.jpg",
                  alt="Picture of Photographer")

            div(class="item active")
              img(src="assets/images/photo-girl-bike.jpg",
                  alt="Picture of Photographer")

            div(class="item")
              img(src="assets/images/photo-way.jpg",
                  alt="Picture of Photographer")

          a(class="left carousel-control", href="#small-slideshow",
            role="button" data-slide="prev"): span.back
          a(class="right carousel-control", href="#small-slideshow",
            role="button" data-slide="next"): span.next


    //- Contact Frame
    section.frame.contact-frame#contact
      .content-wrapper
        h2.title Say
          span.lighttext  Hello
        p.description
          | Instead, the very best of their images remind us that a photograph
          | has the power to do infinitely more than document. It can transport
          | us to unseen worlds.
        form.contact-form
          input.field.basic(type="email", placeholder="Your Email")
          input.field.basic(type="text", placeholder="Subject")
          textarea.field.message(rows="5", cols="30", placeholder="Message")
          input.button(type="submit" value="Send Message" role="button")
